

<div class="row">
	<div class="col-md-8 center" align="center" data-aos="fade-right" data-aos-duration="1500">
		
		<script type="text/javascript" src="http://yoursite.com/mapdata.js"></script>   
		<script  type="text/javascript" src="http://yoursite.com/worldmap.js"></script>

		<div class="usa" id="map"></div><br>

		<strong><h5>If map is not showing please press this button. Thank You!</h5></strong>
			        <div>
			          <button class="btn" style="background-color: #D4AF37; color: black;" onclick="myFunction()">Activate Map</button>

			          <script>
			            function myFunction(){
			              location.reload();
			            }
			          </script>
			        </div>
		<strong><h4>Double Click your state to find business near you!</h4></strong>

	</div>

	<div class="col-md-4" data-aos="fade-left" align="center" data-aos-duration="1500">

		<div class="business_cat">
			<%= form_tag businesses_path, method: 'get' do %>
				<div class="form-group" style="color: #D4AF37">
					<h4>Search A Business:</h4>
					<%= text_field_tag :find, params[:find], class: "form-control" %>
					<br>
					<br>
					<h4 style="color: #D4AF37">Filter Results:</h4>
					<br>
					<br>
					<%= label_tag :business_category %>
					<div style="color: black;">
				  	<%= select_tag(:business_category, options_from_collection_for_select(BusinessCategory.all, :id, :name, params[:business_category]), { include_blank: true, style: "width: 100%" }) %>
				    </div>
					<br>
					<br>
					<%= label_tag :state %>
					<div style="color: black">
				  	<%= select_tag(:state, options_from_collection_for_select(State.all, :id, :name, params[:state]), { include_blank: true, style: "width: 80%" }) %>
				    </div>
					<br>
					<br>
					<%= submit_tag "Search", :name => nil, :class => "btn btn-primary", :style => "background-color: #D4AF37; color: black;" %>  
				</div>

				     
			<% end %>
		</div>

		<hr style="color: #D4AF37">

		<div style="width: 350px; color: #D4AF37;">
			<h3>Peace Peace Family!</h3>
			<p style="font-size: 20px">If You would like your business to be posted on The Black Woman Is God Stores please click here: </p>

		

					<%= link_to 'Add Your Business', new_business_path, class: "btn", style: "background-color: #D4AF37; color: black; margin-bottom: 15px;" %>

	

	
		</div>

	</div>
</div>






<div class="row" style="margin-top: 3%" data-aos="fade-up" data-aos-duration="1500">


		
		<div id="no-more-tables" align="center">
	  	<table class="col-md-12 table table-condensed">
			
	  		<tr style="color: #D4AF37; font-size: 20px" align="center">
			    <th scope="col" class="center"></th>
			    <th scope="col" class="center">Name</th>
			    <th scope="col" class="center">Description</th>
			    <th scope="col" class="center">Category</th>
			    <th scope="col" class="center">Owner</th>
			    <th scope="col" class="center">City</th>
			    <th scope="col" class="center">State</th>
			</tr>
			
			<% @businesses.each do |business| %>
			<% unless business.user.subscribed == false %>
					<div style="overflow: auto;">
						<tr class="business_table">
						<th scope="row" style="background-color: #D4AF37;">
							<%= link_to business do %>
			       				<%= image_tag(business.artwork, :style => "width: 55%; height 55%;") %>
			    			<% end %>
						</th>

						<th scope="row">
							<h3><%= link_to business.title, business_path(business), style: "color: #D4AF37;" %></h3>
						</th>

						<th scope="row">
							<p><%= business.description %></p>
						</th>

						<th scope="row">
							<p><%= business.business_category.name %></p>
						</th>

						<th scope="row">
							<strong><p><em>Owner:</em> <%= link_to business.user.username, user_path(business.user), style: "color: #D4AF37;" %></p></strong>
						</th>

						<th scope="row">
							<p> <%= business.city %></p>
						</th>
							
						<th scope="row">
							<p> <%= business.state.name %></p>
						</th>


								
					</tr>
					</div>

				<% end %>
			<% end %> 
	  	</table>
	 
	  </div>
    <div class="row" style="margin-left: 5%">
      		<%= paginate @businesses %>
   		 </div>
</div>

</div>


