

  <div class="col-md-6">
    <%= image_tag @business.image(:medium) %> 
  </div>

<p>
  <strong>Title:</strong>
  <%= @business.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @business.description %>
</p>

<p>
<%= @business.business_category.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @business.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @business.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @business.state.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @business.email %>
</p>

<p>
  <strong>Hours:</strong>
  <%= @business.hours %>
</p>

<p>
  <strong>Number:</strong>
  <%= @business.number %>
</p>


<div class="row">
  <%= link_to 'Back', businesses_path %>

  <% if @business.user_id == current_user.id %>

    <%= link_to 'Edit', edit_business_path(@business) %>
    
  <% end %>

</div>
