<div class="container">
  
  <div class="row" align="center">

    <div class="col-md-5" style="margin: 3%">
      <h2 style="color: #D4AF37;"> <%= @business.title %></h2>
      <h2><%= link_to @business.user.username, user_path(@business.user), :style => "color: #D4AF37" %></h2>
      <%= image_tag @business.artwork, :style => "width: 75%; height: 75%; margin: 5%;" %> 
      
    </div>

    <div class="col-md-5" style="margin: 3%">

      <div class="row">
        <div style="width: 100%; color: #D4AF37; background-color: rgba(212,175,55, 0.1); padding: 2%; width: 100%; word-wrap: break-word; margin-bottom: 5%; margin-top: 5%; border-radius: 5px; ">
          <h3>Description</h3>
          <p style="font-size: 18px"><%= @business.description %></p>
          <p><strong><%= @business.business_category.name %></strong></p>
        </div>

      </div>

      <div class="row" style="width: 100%; margin-top: 5%; margin-bottom: 5%; color: #D4AF37">
        <p><strong>Address:</strong><%= @business.address %></p>
        <p><strong>City:</strong><%= @business.city %></p>
        <p><strong>State:</strong><%= @business.state.name %></p>
        <p><strong>Email:</strong><%= @business.email %></p>
        <p><strong>Hours:</strong><%= @business.hours %></p>
        <p><strong>Number:</strong><%= @business.number %></p>
      </div>

      <div class="row">
        <div align= "center" >
          <%= carousel_for(@business.selections) %>
        </div>
      </div>
       
    </div>

    
  </div>

</div>


<div class="row" align="center">
  <%= link_to 'Back', businesses_path, :style => "color: #D4AF37; font-size: 15px;" %> <span style="color: #D4AF37">|</span>

  <% if @business.user_id == current_user.id %>

    <%= link_to 'Edit', edit_business_path(@business), :style => "color: #D4AF37; font-size: 15px;" %>
    
  <% end %>

</div>
