<div class="container">
  <div class="row">
    <div class="col-md-12 center" align="center">
    <div id="signup">

    <h2>Sign up</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

        <div class="row">
          <div class="col-md-6">
              <div class="form-group">
                <%= f.label :first_name %><br />
                <%= f.text_field :first_name, autofocus: true, class: "form-control" %>
              </div>
          </div>
          <div class="col-md-6">
              <div class="form-group">
                <%= f.label :last_name %><br />
                <%= f.text_field :last_name, autofocus: true, class: "form-control" %>
              </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <%= f.label :username %><br />
              <%= f.text_field :username, autofocus: true, class: "form-control" %>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <%= f.label :street_address %><br />
              <%= f.text_field :street_address, autofocus: true, class: "form-control" %>
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group">
              <%= f.label :city %><br />
              <%= f.text_field :city, autofocus: true, class: "form-control" %>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <%= f.label :zipcode %><br />
              <%= f.text_field :zipcode, autofocus: true, class: "form-control" %>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <%= f.label :country %>
              <%= f.country_select(:country, {selected: @user.country}, {class: "form-control",priority_countries: ["US"], include_blank: "select country"}) %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
              <div class="form-group">
                <%= f.label :birthday %><br />
                <%= f.date_field :birthday, autofocus: true, class: "form-control" %>
              </div>
          </div>

          <div class="col-md-9">
            <div class="form-group">
              <%= f.label :bio %><br />
              <%= f.text_area :bio, autofocus: true, class: "form-control" %>
            </div>

          </div>
        </div>

        <div class="row">

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="col-md-4">
              <div class="form-group">
               
                <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
                <% if @minimum_password_length %>
                  
                   <%= f.label :password %><br />
                  <em><%= @minimum_password_length %> characters minimum</em>
                <% end %>
              </div>
          </div>
          <div class="col-md-4">
              <div class="form-group">
               
                <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
                 <%= f.label :password_confirmation %><br />
              </div>
          </div>
          <div class="col-md-4">
              <div class="form-group">
                
                <%= f.file_field :avatar, class: "form-control" %>
               <p><strong> Profile </strong><%= f.label :avatar %></p>
              </div>
          </div>
        </div>

 
 



      <div class="form-group">
        <%= f.submit "Sign up", class: "btn", style: "background-color: black; color: #D4AF37;" %>
      </div>
    <% end %>




    </div>
  </div>
</div>
</div>