<h1>Inbox</h1>
<ul>
  <% @conversations.each do |conversation| %>
	<li>
		<%= link_to conversation.recipient(current_user).username, conversation_personal_messages_path(conversation) %>
		<% if !conversation.unread_personal_message_count(current_user).zero? %>
	       (<%= conversation.unread_personal_message_count(current_user) %>)
	    <% end %>
	</li>
  <% end %>
</ul>


<h2>Users</h2>
<div class="row">
	<%= form_tag conversations_path, method: 'get' do %>
	<h4>Find A User:</h4>
	<div class="col-md-9">
		<%= text_field_tag :lookup, params[:lookup], class: "form-control" %>
	</div>
	<div class="col-md-3">
		<%= submit_tag "Search", :name => nil, :class => "btn btn-primary", :style => "background-color: #D4AF37; color: black;" %>  
	</div>
	
		
		
	<% end %>
</div>

<ul>
  <% @users.each do |user| %>
	  <% if current_user.follows?(user) %>
	    <li><%= link_to user.username, conversations_path(author_id: current_user.id, receiver_id: user.id), method: :post %></li>

	  <% end %>
  <% end %>
</ul>