<div class="col-md-12 center" align="center">
	<h1>New Conversation</h1>
</div>


<%= form_tag conversations_path, method: :post do %>
	<div class="form-group" style="background-color: lavender; border-radius: 10px; padding: 20px">
		<div style="margin-top: 1%">
			<%= select_tag :user_id, options_from_collection_for_select(@recipients, :id, :username), :class => "form-control" %>
		</div>

		<div style="margin-top: 1%">
			<%= text_field_tag :subject, nil, placeholder: "Subject",  :class => "form-control" %>
		</div>

		<div style="margin-top: 1%">
			<%= text_area_tag :body, nil, placeholder: "Say Something...",  :class => "form-control" %>
		</div>

		<div class="col-md-12" align="center" style="margin-top: 3%">
			<%= submit_tag %>
		</div>
	</div>

 <% end %>