<div class="row">
	<div class="col-md-12 center" align="center">
		<h1> Subject: <%= @conversation.subject %></h1>
	</div>
</div>



<% @conversation.receipts_for(current_user).each do |receipt| %>
<div class="row">
	<div class="col-md-12 center" align="center">
		<div >
			<div style="background-color: lavender; margin-top: 1%; margin-bottom: 1%">
				<%= receipt.message.sender.username %> Said:
			</div>
				<p><%= receipt.message.body %></p>
		</div>
	
	</div>
</div>
<% end %>




<%= form_tag conversation_messages_path(@conversation), method: :post do %>
	<div class="row center" align="center" style="margin-top: 2%">
		<div>
			<%= text_area_tag :body %>
		</div>
			<%= submit_tag "Send" %>
	</div>


	
<% end %>