    <!-- Footer -->
    <footer class="footer" align="center" style=" height: auto; width: auto; color: black; margin-top: 25%; border-radius: 10px; border-width: 10px; border-color: #D4AF37; border-style: solid;  opacity: 0.8; padding-top: 2%; padding-bottom: 2%;">

            <div class="row" align="center">
                 
                <ul  style="list-style-type: none; padding-inline-start: 0px !important;">
                    <li><%= link_to "Home", root_path, style: "color: #D4AF37; margin: 5px;" %></li>
                    <li><%= link_to "Store", products_path, style: "color: #D4AF37; margin: 5px;" %></li>
                    <li><%= link_to "Business Services", businesses_path, style: "color: #D4AF37; margin: 5px;" %></li>
                    <li><%= link_to "About Us", pages_about_path, style: "color: #D4AF37; margin: 5px;" %></li>
                    <li><%= link_to "Contact Us", pages_contact_path, style: "color: #D4AF37; margin: 5px;" %></li>
                    
                </ul>

                <ul class="social-icons" style="padding-inline-start: 0px !important">

                    <li><a href="https://www.facebook.com/PharaohAten" target="_blank" class="social-icon"> <i class="fa fa-facebook"></i></a></li>

                    <li><a href="https://twitter.com/tbwig_stores/status/1259339941995298817?s=21" target="_blank" class="social-icon"> <i class="fa fa-twitter"></i></a></li>

                    <li><a href="https://www.youtube.com/channel/UCtKtmiQ2GlWlqPDzXwrR4NA" target="_blank" class="social-icon"> <i class="fa fa-youtube"></i></a></li>

                    <li><a href="https://www.instagram.com/tbwig_stores/?hl=en" target="_blank" class="social-icon"> <i class="fa fa-instagram"></i></a></li>
                </ul>


            </div>
                

            
   

        <div class="row" align="center" style="color: #D4AF37;">
                <h5>The Black Woman Is God Stores © 2018</h5>
        </div>

    </footer>
