<% if @order.errors.any? %>
  <div id="error_explanation" class="alert alert-danger alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <h4><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h4>

    <ul>  
    <% @order.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div id="stripe_error" class="alert alert-danger" style="display:none">
  <noscript>JavaScript is not enabled and is required for this form. First enable it in your web browser settings.</noscript>
</div>

<div class="row" align="left" style="color: #D4AF37; margin-bottom: 5%; margin-top: 5%; width: 50%">
  <h4><strong>Placing Your Order For:</strong></h4><br> 
  <h2><%= @product.title %></h2>
</div>

<div class="row" data-aos="fade-up" data-aos-duration="2000">

  <div class="col-md-4" align="center">
    <div class="row" style="margin-bottom: 5%">
      <%= image_tag @product.picture, style: "width: 350px; height: 350px; border-radius: 5px;" %>
    </div>
    <div class="row" style="margin-top: 2%; margin-bottom: 5%; color: #D4AF37;">
        <h3>
          Product Seller:
        </h3>
        <br>
        <div >
          <%= image_tag (@product.user.avatar), style: "width: 75px; height: 75px; border-radius: 100px" %>
          <h4><%= link_to @product.user.username, user_path(@product), :style => "color: #D4AF37;" %></h4>
        </div>
    </div>
    <div class="row" align="center">
      <h4 style="color: #D4AF37;">
        Gallery:
      </h4>
      <div style="margin-bottom: 5%">
        <%= carousel_for(@product.images) %>
      </div>
    </div>
    
  </div>

  <div class="col-md-4">
    <h3 style="color: #D4AF37;">How many do you need?</h3>
    <h3 style="color: #D4AF37;">Don't forget to Update your Quantity!!!</h3>

 
      
    
        <div class="row" align="center">
          <button id="submit" class="btn btn-success" style="margin-top: 2%">Update Quantity</button>
        </div>

       <%= form_for([@product, @order], :html => {id: "order_form"})  do |f| %>
          

       
            <%= hidden_field_tag "product_id", @product.id %>
            <%= hidden_field_tag 'stripeToken' %>
            <%= hidden_field_tag 'stripeEmail' %>


            
      <div class="row" align="center">
              
                <%= f.number_field :quantity, class: "form-control", id: "quantity", style: "width: 50%; margin-top: 2%;", value: 1, min: 1, step: 1 %><br>
                 
      </div>
  
    

              <h3 style="color: #D4AF37;">Please Enter Your Shipping Information:</h3>
              
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <h4 style="color: #D4AF37"><strong>First Name:</strong></h4>
                    <%= f.text_field :shipping_name, class: "form-control" %>
                  </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                      <h4 style="color: #D4AF37"><strong>Last Name:</strong></h4>
                      <%= f.text_field :shipping_last_name, class: "form-control" %>
                    </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <%= f.label :address, :style => "color: #D4AF37;" %>
                    <%= f.text_field :address, class: "form-control" %>
                  </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                      <%= f.label :city, :style => "color: #D4AF37;" %>
                      <%= f.text_field :city, class: "form-control" %>
                    </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <%= f.label :state, :style => "color: #D4AF37;" %>
                    <%= f.text_field :state, class: "form-control" %>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <%= f.label :zip, :style => "color: #D4AF37;" %>
                    <%= f.text_field :zip, class: "form-control" %>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <%= f.label :country, :style => "color: #D4AF37;" %>
                    <%= f.country_select :country, {priority_countries: ["US"], include_blank: "select country"}, class: 'form-control' %>
                  </div>
                </div>
              </div>
              

              <div class="row">
                <div class="col-md-6">
                     <div class="form-group" style="color: black">
                      <%= f.label :color, :style => "color: #D4AF37;" %><br>
                      <%= f.select :color, options_for_select(@product.color_variants.pluck(:color)), :prompt => "Choose a Color", :class => "form-control", :style => "color: black!;" %>

                    </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group" style="color: black">
                    <%= f.label :size, :style => "color: #D4AF37;" %><br>
                    <%= f.select :size, options_for_select(@product.size_variants.pluck(:size)), :prompt => "Choose a Size", :class => "form-control", :style => "color: black!;" %>
                  </div>
                </div>
              </div>

              <div class="row" align="center" style="margin-bottom: 5%; margin-top: 5%;">
                        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                                data-description="NAME: <%= @product.title %>"


                                <% if user_signed_in? %>
                                  data-email="<%= current_user.email %>"
                                <% end %>
                                data-allow-remember-me="true"
                                data-locale="auto"
                                data-billing-address="true"
                                data-zip-code="true"
                                data-locale="true"
                                data-name="The Black Women is God Stores"
                                >


                        </script>
              </div>


        <% end %>

    
  </div>

  <div class="col-md-4" align="center">
    
    <div style="width: 300px; height: 300px; border: solid; border-width: 1px; border-color: #D4AF37; border-radius: 10px; color: #D4AF37;">
      <div class="row">
        <ul style="list-style-type: none; width: 80%; margin-top: 15%; padding-inline-start: 0px !important;">
              <li><h3><strong><em>Price: </em><br><%= number_to_currency(@product.price) %></strong></h3></li> 
              <li><h3><em>Shipping Price: </em><br><%= number_to_currency(@product.shipping_cost) %></h3></li> 
              
              <hr style="color: black">
              <li><strong><h2 id="order_total">Total: $<span id="show_total"></span></h2></strong></li>
        </ul>
      </div>
      
    </div>
  </div>


</div>


<script>
        $(document).ready(function(){
        document.getElementById('submit').onclick=function(){
          var quantity = parseInt(document.getElementById('quantity').value)
          var cost = <%= @product.price %>
          var s_cost = <%= @product.shipping_cost %>
          total = (cost + s_cost) * quantity
          document.getElementById("show_total").innerText = total.toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2})
        };
       });

        $(document).ready(function(){
          var quantity = parseInt(document.getElementById('quantity').value)
          var cost = <%= @product.price %>
          var s_cost = <%= @product.shipping_cost %>
          total = (cost + s_cost) * quantity
          document.getElementById("show_total").innerText = total.toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2})
        });
</script>

<script src="https://checkout.stripe.com/checkout.js"></script>

