<div class="center">
  <h2 style="color: #D4AF37">Your Purchase History:</h2>
</div>

<table class="table">
  <tr style="color: #D4AF37; font-size: 20px" align="center">
    <th class="center">Image</th>
    <th class="center">Item</th>
    <th class="center">Price</th>
    <th class="center">Shipping Cost </th>
    <th class="center">Seller</th>
    <th class="center">Color</th>
    <th class="center">Size</th>
    <th class="center">Quantity</th>
    <th class="center">Date Purchased</th>
  </tr>

  <% @orders.each do |order| %>
    <tr class="business_table">
      <td class="center" align="center" style="background-color: #D4AF37;"><%= image_tag order.product.image.url(:thumb) %></td>
      <td class="center"><%= order.product.title %></td>
      <td class="center"><%= number_to_currency(order.product.price) %></td>
      <td class="center"><%= number_to_currency(order.product.shipping_cost) %></td>
      <td class="center"><%= order.seller.username %> Email: <%= order.seller.email %></td>
      <td class="center"><%= order.color %></td>
      <td class="center"><%= order.size %></td>
      <td class="center"><%= order.quantity %></td>
      <td class="center"><%= order.created_at.strftime("%B %-d, %Y") %></td>
    </tr>
  <% end %>
</table>

<br>

