

<div class="center" style="margin-top: 10%; margin-bottom: 5%;">
      <h2 style="color: #D4AF37">Your Sales History:</h2>
</div>

<div class="row" style="margin-bottom: 5%" align="center">
  <h3 style="color: #D4AF37">Sell A New Product!</h3>
  <%= link_to 'Sell Your Product', new_product_path, class: "btn", style: "background-color: #D4AF37; color: black; margin-bottom: 15px;", data: { no_turbolink: true }  %>
</div>

<% @orders.each do |order| %>
<% unless order.shipped == true  %>
  <div class="row" align="center">      
      <div style="border: solid; border-width: 1px; border-radius: 10px; border-color: #D4AF37; width: 100%; height: auto; padding: 1%; margin-top: 3%;">
        <div class="row">
          <div class="col-md-3">
            <%= image_tag order.product.picture, style: "width: 150px; height: 150px; margin-top: 5%" %>
          </div>
          <div class="col-md-2">
            <h4 style="color: #D4AF37">Order Details:</h4>
            <p>Title: <%= order.product.title %></p>
            <p>Price: <%= number_to_currency(order.product.price) %></p>
            <p>Shipping Cost: <%= number_to_currency(order.product.shipping_cost) %></p>
            <p>Quantity: <%= order.quantity %></p>
            <p>Color: <%= order.try(:color) %></p>
            <p>Size: <%= order.try(:size) %></p>
          </div>
          <div class="col-md-2">
              <h4 style="color: #D4AF37">
                Customer Information:
              </h4>
              <p>First Name: <%= order.shipping_name %></p>
              <p>Last Name: <%= order.shipping_last_name %></p>
              <p>Username: <%= order.buyer.username %></p>
              <p>Email: <%= order.buyer.email %></p>
              <p>Send A Message: <%= link_to order.buyer.username, conversations_path(author_id: current_user.id, receiver_id: order.buyer.id), method: :post, style: "color: #D4AF37" %></p>      
          </div>
          <div class="col-md-2">
            <h4 style="color: #D4AF37">
              Shipping Address:
            </h4>
            <p>Address: <%= order.address %></p>
            <p>City: <%= order.city %></p>
            <p>State: <%= order.state %></p>
            <p>Zip: <%= order.zip %></p>
            <p>Country: <%= order.country %></p>
          </div>
          <div class="col-md-3">
            <h4 style="color: #D4AF37">
              Confirm Shipping:
            </h4>
            <p>Order Date: <%= order.created_at.strftime("%B %-d, %Y") %></p>
            <div>
              <p>Please check box below and click shipped when items are sent. </p>
              <%= form_tag(shipped_orders_path, method: :put) do |f| %>
                <%= hidden_field_tag "order_id", order.id %>
                <div style="border: solid; border-width: 3px; border-color: #D4AF37; width: 30px; height: 30px; padding: 1%; margin: 3px">
                  <%= check_box_tag "order.id[]", order.id %>
                </div>
                <p>Shipped?</p>
                <%= submit_tag "Shipped", class: "btn", style: "background-color: #D4AF37; color: black; " , data: { confirm: "Are you sure? If you confirm the buyer will be notified that their product was shipped. (If this is done unintentionally it can damage the integrity of your account and could result in account termination.)
                  " } %>
              <% end %>
            </div>
          </div>
        </div>
        
      </div>

      <div class="row" style="margin-left: 5%; margin-top: 10%">
          <%= paginate @orders %>
      </div>
  </div>
<% end %> 
<% end %> 

       

<div class="center" style="margin-top: 10%; margin-bottom: 10%;">
  <h2 style="color: #D4AF37">Your Shipped Item History:</h2>
</div>

<div class="row" style="margin-top: 10%; margin-bottom: 5%" data-aos="fade-up" data-aos-duration="1500">

      <% @orders.each do |order| %>
        <% if order.shipped == true  %>
        <% if order.product != nil %>
            <div class="row" align="center">      
            <div style="border: solid; border-width: 1px; border-radius: 10px; border-color: #D4AF37; width: 100%; height: auto; padding: 1%; margin-top: 3%">
              <div class="row">
                <div class="col-md-3">
                  <%= image_tag order.product.picture, style: "width: 150px; height: 150px; margin-top: 5%" %>
                </div>
                <div class="col-md-2">
                  <h4 style="color: #D4AF37">Order Details:</h4>
                  <p>Title: <%= order.product.title %></p>
                  <p>Price: <%= number_to_currency(order.product.price) %></p>
                  <p>Shipping Cost: <%= number_to_currency(order.product.shipping_cost) %></p>
                  <p>Quantity: <%= order.quantity %></p>
                  <p>Color: <%= order.try(:color) %></p>
                  <p>Size: <%= order.try(:size) %></p>
                </div>
                <div class="col-md-2">
                    <h4 style="color: #D4AF37">
                      Customer Information:
                    </h4>
                    <p>First Name: <%= order.shipping_name %></p>
                    <p>Last Name: <%= order.shipping_last_name %></p>
                    <p>Username: <%= order.buyer.username %></p>
                    <p>Email: <%= order.buyer.email %></p>  
                    <p>Send A Message: <%= link_to order.buyer.username, conversations_path(author_id: current_user.id, receiver_id: order.buyer.id), method: :post, style: "color: #D4AF37" %></p>    
                </div>
                <div class="col-md-2">
                  <h4 style="color: #D4AF37">
                    Shipping Address:
                  </h4>
                  <p>Address: <%= order.address %></p>
                  <p>City: <%= order.city %></p>
                  <p>State: <%= order.state %></p>
                  <p>Zip: <%= order.zip %></p>
                  <p>Country: <%= order.country %></p>
                </div>
                <div class="col-md-3">
                  <h4 style="color: #D4AF37">
                    Confirm Shipping:
                  </h4>
                  <p>Order Date: <%= order.created_at.strftime("%B %-d, %Y") %></p>
                  <div>
                    <p>Please check box below and click shipped when items are sent. </p>
                    <%= form_tag(shipped_orders_path, method: :put) do |f| %>
                      <%= hidden_field_tag "order_id", order.id %>
                      <div style="border: solid; border-width: 3px; border-color: #D4AF37; width: 30px; height: 30px; padding: 1%; margin: 3px">
                        <%= check_box_tag "order.id[]", order.id %>
                      </div>
                      <p>Shipped?</p>
                      <%= submit_tag "Shipped", class: "btn", style: "background-color: #D4AF37; color: black; " , data: { confirm: "Are you sure? If you confirm the buyer will be notified that their product was shipped. (If this is done unintentionally it can damage the integrity of your account and could result in account termination.)
                        " } %>
                    <% end %>
                  </div>
                </div>
              </div>
              
            </div>

            <div class="row" style="margin-left: 5%; margin-top: 10%">
                <%= paginate @orders %>
            </div>
        </div>
        <% end %>
        <% end %>
      <% end %>
    

    
</div>



<% if user_signed_in? %>
  <%= link_to 'Sell Your Product', new_product_path, class: "btn", style: "background-color: #D4AF37; color: black; margin-bottom: 15px;", data: { no_turbolink: true }  %>
<% end %>