<p id="notice"><%= notice %></p>

<div class="row">
  <div class="form-group">
    <%= render 'search_form', class: "form-control" %>
  </div>
</div>

<h2>
  <%= @category.name %>
</h2>

<div class="col-md-12">
	<% @products.each do |product| %>

		<div class="col-md-3 center" align="center">
        <div class="thumbnail_p">
        <%= link_to product do %>
            <%= image_tag(product.image.url(:thumb), :class => "thumbs") %>
        <% end %>
          <div class="caption">
            <h3><%= product.title %></h3>
            <p><%= number_to_currency(product.price) %></p>
            <p><em>Sold By:</em> <%= product.user.username %></p>
          </div>
        </div>
      </div>

	<% end %>
</div>
<div class="row">
  <% if user_signed_in? %>
    <%= link_to 'New product', new_product_path, class: "btn btn-link" %>
  <% end %>
</div>
<%= link_to 'Back', categories_path %>
