<div class="row">
   <%= link_to '< Back', products_path, :style => "color: #D4AF37; font-size: 20px;" %> <span style="color: #D4AF37">|</span>
</div>
<div class="row">
  <div class="col-md-6" align="center">
    <%= image_tag @product.image(:medium), style: "width: 45%; height: 45%;" %>
    <div style="color: #D4AF37;">
      <h2><%= @product.title %></h2>
      <p style="font-size: 25px"><em>Price: </em><%= number_to_currency(@product.price) %></p>
      <p style="font-size: 25px"><em>Shipping Price: </em><%= number_to_currency(@product.shipping_cost) %></p>
    </div> 

  </div>

  <div class="col-md-6" style="background-color: #D4AF37; padding: 20px; border-radius: 10px; color: black;" align="center">
    

    <p style="font-size: 25px"><em>Condition:</em> <%= @product.condition %></p>
    <div style="background-color: black; padding: 4%; margin: 2%; border-radius: 10px;">
          <p style="font-size: 25px; color: #D4AF37"><em>Description:</em> <%= @product.description %></p>
    </div>

 
    <div align="left">
      <h4> Colors Avalible </h4> 
      <% @product.color_variants.each do |color_variant| %>
          <ul>
            <li><%= color_variant.color %></li>
          </ul>
      <% end %>
    </div>

    <div align="left">
       <h4> Sizes Avalible </h4> 
      <% @product.size_variants.each do |size_variant| %>
          <ul>
            <li><%= size_variant.size %></li>
          </ul>
      <% end %>
    </div>

    <p style="font-size: 25px"> <strong>Seller: <%= link_to @product.user.username, user_path(@product), :style => "color: black;" %></strong></p><br>
    
      <%= link_to "Buy It Now", new_product_order_path(@product), class: "btn", style: "margin-top: 3%; background-color: black; color: #D4AF37", data: { no_turbolink: true } %>
    
    
  </div> 


  
</div>

  <div class="row" >

    <div class="col-md-12" style="margin-top: 5%" id="review_row" >
      <div align="center">
        <%= link_to "Add Review", new_product_review_path(@product), :class => "btn", :style => "background-color: #D4AF37; color: black" %>
      </div>
        
      <div id="review_dis">

            <%= render @product.reviews %>
      </div>
      
 
    </div>
  </div>

      <% if user_signed_in? %>
        <% if @product.user.id == current_user.id %>
          <div class="row m-4">
            <div class="col text-center">
              <%= link_to 'Edit', edit_product_path(@product), :style => "color: #D4AF37;" %> |
              <%= link_to 'Delete', @product, method: :delete, data: { confirm: 'Are you sure?' }, :style => "color: #D4AF37;" %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<script>
  $('.review-rating').raty({
    path: '/assets',
    readOnly: true,
    score: function(){
      return $(this).attr('data-score')
    }
  });
</script>