<!DOCTYPE html>
<html>
  <head>
    <title>The Black Woman Is God Stores</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://js.stripe.com/v2/" %>
    <%= tag :meta, :name => "stripe-key", :content => ENV["STRIPE_PUBLIC_KEY"] %>
    <%= Gon::Base.render_data %>
    
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <script type="text/javascript" src="http://yoursite.com/mapdata.js"></script>   
    <script  type="text/javascript" src="http://yoursite.com/worldmap.js"></script>

     
  </head>

  <body>
    <div class="row align-items-center">

      <div class="col-md-12 center" align="center">
        <%= link_to image_tag("https://s3.us-east-2.amazonaws.com/ypmarketnew/assets/image.png", :class => 'toplogo'), root_path %>
      </div>
      <div class="col-md-12 center" align="center" style="margin-top: 1%">
        <div class="footer-social-icons">
            <ul class="social-icons">
                <li><a href="https://www.facebook.com/PharaohAllah/" target="_blank" class="social-icon"> <i class="fa fa-facebook"></i></a></li>
                <li><a href="https://twitter.com/Pharaoh_Allah" target="_blank" class="social-icon"> <i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.youtube.com/channel/UCtKtmiQ2GlWlqPDzXwrR4NA" target="_blank" class="social-icon"> <i class="fa fa-youtube"></i></a></li>
                <li><a href="https://www.instagram.com/pharaoh_aten/?hl=en" target="_blank" class="social-icon"> <i class="fa fa-instagram"></i></a></li>
            </ul>
        </div>
      </div>

      
    </div>
    
  	<%= render 'partials/navbar' %>

    <% flash.each do |name, msg| %>
      <% if msg.is_a?(String) %>
        <div class="alert alert-<%= name == :notice ? "success" : "danger" %> alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
        </div>
      <% end %>
    <% end %>

    <%= yield %>
  </body>
</html>
