<!DOCTYPE html>
<html>
  <head>
    <title>The Black Woman Is God Stores</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://js.stripe.com/v2/" %>
    <%= tag :meta, :name => "stripe-key", :content => ENV["STRIPE_PUBLIC_KEY"] %>
    <%= Gon::Base.render_data %>
    
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  
    <link href="https://fonts.googleapis.com/css?family=Major+Mono+Display|Text+Me+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Audiowide|Gugi|Iceland|Monoton|Squada+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web:600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <script src="https://checkout.stripe.com/checkout.js"></script>
    <script type="text/javascript" src="http://yoursite.com/mapdata.js"></script>   
    <script  type="text/javascript" src="http://yoursite.com/worldmap.js"></script>
    <style>
      /* width */
      ::-webkit-scrollbar {
          width: 10px;
      }

      /* Track */
      ::-webkit-scrollbar-track {
          box-shadow: inset 0 0 5px lightgrey; 
          border-radius: 10px;
      }
       
      /* Handle */
      ::-webkit-scrollbar-thumb {
          background: darkgrey; 
          border-radius: 10px;
      }

      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
          background: #D4AF37; 
      }

       /* Fade in */
        .animate-bottom {
          position: relative;
          -webkit-animation-name: animatebottom;
          -webkit-animation-duration: 1s;
          animation-name: animatebottom;
          animation-duration: 1s
        }

        @-webkit-keyframes animatebottom {
          from { bottom:-100px; opacity:0 } 
          to { bottom:0px; opacity:1 }
        }

        @keyframes animatebottom { 
          from{ bottom:-100px; opacity:0 } 
          to{ bottom:0; opacity:1 }
        }

        #myDiv {
          display: none;
          text-align: center;
        }
    </style>



     
  </head>

  <body>
        <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
        <script>
          AOS.init();
        </script>
        

    <%= render 'partials/social' %>

    <%= render 'partials/navbar' %>
      

<div class="container">


      <% flash.each do |name, msg| %>
        <% if msg.is_a?(String) %>
          <div class="alert alert-<%= name == :notice ? "success" : "danger" %> alert-dismissable" role="alert" style="color: #D4AF37; background-color: black; padding: 3px; margin-top: 5%; margin-bottom: 10%">
            <button type="button" style="color: #D4AF37; background-color: black; margin-right: 4%; margin-top: 0.7%;" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <%= content_tag :div, msg, :id => "flash_#{name}" %>
          </div>
        <% end %>
      <% end %>

      <%= yield %>


    </div>
    <%= render 'partials/footer' %>
   
  </body>
</html>
